
/*==========分页样式===========*/
.paging {
	width: 100%;
	height: 24px;
	text-align: center;
	padding: 15px 0;
	float: right
}
.paging a, .paging span {
	font: 12px/24px "microsoft yahei";
	color: #333;
	text-decoration: none;
	padding: 0 8px;
	border: solid 1px #ddd;
	display: inline-block;
	white-space: nowrap;
	margin: 0 3px;
}
.paging a {
	background: none;
}
.paging a:hover {
	background: #245cb1;
	color: #fff;
}
.paging span {
	background: #2269d5;
	color: #fff;
}
/* common_page 列表页分页 */
.common_page, .pagebox {
	width: 100%;
	text-align: center;
	padding: 16px 0;
	overflow: hidden
}
.common_page a, .pagebox a, .pagebox_pre_nolink, .pagebox_next_nolink {
	font: 12px/1 "microsoft yahei";
	background: #dadada;
	padding: 0 4px;
	color: #a8a8a8
}
.common_page a.nowpage, .common_page a:hover, .pagebox a.nowpage, .pagebox a:hover, .pagebox_num_nonce {
	font: 12px/1 "microsoft yahei";
	background: #ff5958;
	padding: 0 4px;
	color: #fff
}
.pagexx {
	clear: both;
	height: 30px;
	margin: 20px;
	overflow: hidden;
	margin-left: 0px;
}
.mbbody_body .pagexx {
	margin-left: 20px;
}
.pagexx ul {
}
.pagexx ul li {
	float: left;
	border: 1px solid #ccc;
	padding: 2px 9px;
	margin: 0 3px;
	line-height: 20px;
	background: #fff;
}
.pagexx ul li.thisclass {
	display: inline-block;
	border: 1px solid #2061c4;
	padding: 2px 9px;
	margin: 0 3px;
	background: #2061c4;
	color: #fff;
}
.pagexx ul li.thisclass a {
	color: #fff;
}
.pagexx ul li a:hover {
	color: #2061c4;
}
.pagexx ul li span {
	display: inline-block;
	padding: 0;
}
